---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

import Terminal from '../components/Term.jsx';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
      <p>
        I'm Warren Lee, the co-founder of HyperDX (YC S22).
      </p>
      <p>
        I spend most of my time on building <a href="https://hyperdx.io" target="_blank">HyperDX</a>, 
        an open source, dev-friendly observability platform.
      </p>
      <p>
        I've also built the E2E tests debugging platform <a href="https://deploysentinel.com" target="_blank">DeploySentinel</a>
        and the leading music data analytics platform <a href="https://chartmetric.com" target="_blank">Chartmetric</a>.
      </p>
      <p>
        When I have spare time, I'm either tweaking my vim/tmux configs or playing with my cat "Mudo".
      </p>

      <img src="/mudo.jpg" alt="Mudo">
		</main>
	</body>
</html>
